//- layout.jade - Abstract template for all page/views. -//

// Podplay.me - Podcast browser and player.
// Authors: Ian McGaunn; Dave Zimmelman
// Modified: 22 Apr 15

// BEGIN layout.jade
= "\n"
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    // Bootstrap style sheets
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
    // Podplay global stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Stylesheet with unsourced, free-use styling for forms.
    link(rel='stylesheet', href='/stylesheets/structure.css')
    if stylesheets
        // Stylesheets needed for local view.
        for s in stylesheets
            link(rel='stylesheet', href="#{'/stylesheets/' + s + '.css'}")
    // jQuery 2.1.3
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    // jQuery Easing extension v1.3
    script(src='/javascripts/jquery.easing.1.3.js')
    // Bootstrap 3.3.2
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    // Podplay custom libs
    script(src='/javascripts/pagestack.js')
    script(src='/javascripts/feedview.js')
    // Podplay index script
    script(src='/javascripts/index.js')
    if javascripts
        // Scripts needed for local view.
        for s in javascripts
            script(src="#{'/javascripts/' + s + '.js'}")
    if GLOBALS
        // Variables passed from server to client on render.
        each val, key in GLOBALS
            script.
                var !{key} = !{JSON.stringify(val)};
  body
    // Navigation header
    nav.navbar.navbar-default.navbar-static-top.navbar-inverse
        .container
            // Back button
            a.navbar-brand#soft-back-btn(href="javascript:PageStack.back();") !{'&#9664;'}
            // Brand button
            a.navbar-brand(href="javascript:load_splash_view();") Podplay.me
            // User account function menu
            ul.nav.navbar-nav.navbar-right
              li
                if user
                    p#account(style="display:inline") #{user.name}
                    button.btn.btn-primary.navbar-btn#btn-logout(type="button") Sign Out
                    button.btn.btn-primary.navbar-btn#btn-sin(type="button" style="display:none;") Sign In
                    button.btn.btn-primary.navbar-btn#btn-sup(type="button" style="display:none;") Register
                else
                    p#account(style="display:none") &nbsp;
                    button.btn.btn-primary.navbar-btn#btn-logout(type="button" style="display:none;") Sign Out
                    button.btn.btn-primary.navbar-btn#btn-sin(type="button") Sign In
                    button.btn.btn-primary.navbar-btn#btn-sup(type="button") Register
    // Giant alpha-layerd div that spans across screen
    div#dimmer
    // Loading gif that is positioned in the center of the screen
    div.loader#loader
    // Login form
    form.box.login#login(action="javascript:void(0);" style="height:280px;")
        fieldset.boxBuddy
            legend Sign In
            span.notif &nbsp;
            label(for="name") Username
            input(type="text" tabindex="1" id="name" name="name" class="required")
            label(for="pw") Password
            input(type="password" tabindex="2" id="pw" name="pw" class="required")
            button.btnLogin#btn-login(tabindex="3") Sign In
            button.btnLogin.btn-cancel(tabindex="4") Cancel
    // Register form
    form.box.login#register(action="javascript:void(0);" style="height:460px;")
        fieldset.boxBuddy
            legend Register
            span.notif &nbsp;
            label(for="uname") Username
            input(type="text" tabindex="1" id="uname" name="uname" class="required" placeholder="Example: my.name123")
            label(for="email") Email
            input(type="text" tabindex="1" id="email" name="email" class="required" placeholder="Example: my.name@some-domain.com")
            label(for="pass1") Password
            input(type="password" tabindex="2" id="pass1" name="pass1" class="required" placeholder="6 to 26 characters")
            label(for="pass2") Confirm Password
            input(type="password" tabindex="2" id="pass2" name="pass2" class="required" placeholder="Re-enter your password")
            a(href="javascript:void(0);" style="display:block;padding:5px;margin-bottom:5px;") I have read and agree to the Terms of Use.
            button.btnLogin#btn-register(tabindex="3") I Agree
            button.btnLogin.btn-cancel(tabindex="4") Cancel
    block content
        