//- layout.jade - Abstract template for all page/views. -//

// Podplay.me - Podcast browser and player.
// Authors: Ian McGaunn; Dave Zimmelman
// Modified: 09 Mar 15
= "\n"
doctype html
html
  head
    title= title
    // Bootstrap style sheets
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.2-modified.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
    // Podplay global stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Audioplayer stylesheet
    link(rel='stylesheet', href='/stylesheets/audioplayer.css')
    if stylesheets
        // Stylesheets needed for local view.
        for s in stylesheets
            link(rel='stylesheet', href="#{'/stylesheets/' + s + '.css'}")
    // jQuery 2.1.3
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    // Bootstrap 3.3.2
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    if javascripts
        // Scripts needed for local view.
        for s in javascripts
            script(src="#{'/javascripts/' + s + '.js'}")
    if GLOBALS
        // Variables passed from server to client on render.
        each val, key in GLOBALS
            script.
                var !{key} = !{JSON.stringify(val)};
  body
    // Navigation header
    nav.navbar.navbar-default.navbar-static-top.navbar-inverse
        .container
            a.navbar-brand(href="javascript:window.history.back();") !{'&#9664;'}
            a.navbar-brand(href="/") Podplay.me
            a.navbar-brand(href="/") Browse #{'&'} Search
            ul.nav.navbar-nav.navbar-right
              li
                button.btn.btn-primary.navbar-btn(type="button") Sign in
                button.btn.btn-primary.navbar-btn(type="button") Register
    block content
