//- index.jade - Template for podcast feed pages/views. -//
//- Authors: Ian McGaunn; Dave Zimmelman -//
//- Modified: 25 Apr 15 -//

script.
    window.safetitle = "#{safetitle}";
// Podcast title
.feed-row-top
    h4 #{feed.title}
// Left column with podcast poster and information
.feed-col-left
    img.podcast-poster(src="#{podcast.poster600}")
    // "Add subscription" button
    if user
        if isFavorited(user, podcast._id)
            button.btn.btn-primary.btn-fav#fav(data-id="#{podcast._id}" title="Remove Subscription")
                span.glyphicon.glyphicon-star(aria-hidden="true")
        else
            button.btn.btn-primary.btn-fav#fav(data-id="#{podcast._id}" title="Susbcribe")
                span.glyphicon.glyphicon-star-empty(aria-hidden="true")
    else
        button.btn.btn-primary.btn-fav#fav-fake(title="Sign in to subscribe.")
            span.glyphicon.glyphicon-star-empty(aria-hidden="true")
    // Table with podcast feed information
    table#feedinfo-table(class="table")
        tbody
            tr
                th 
                    div.wrap Author
                td
                    div.wrap #{podcast.artistName}
            tr
                th
                    div.wrap Genre
                td 
                    div.wrap #{podcast.genre}
// Right column with episode list
.feed-col-right
    // Feed summary
    if feed['itunes:summary']
        span#it-summary #{feed['itunes:summary']}
    else
        span#it-summary No description.
    // Episode listings
    table#episode-table(class="table")
        colgroup
            col
            col(width="60px;")
            col(width="75px;")
            col(width="60px;")
        thead
            tr
                th Title
                th Date
                th Length
                th 
        tbody
            each ep in feed.item
                - var hasAudio = (ep.enclosure && ep.enclosure.$ && ep.enclosure.$.url);
                if hasAudio
                    tr
                        td(title="#{ep.title}")
                            if ep.title
                                div.wrap(style="height:34px;") #{ep.title}
                            else
                                div.wrap(style="height:34px;") N/A
                        td
                            if ep.enclosure.$.duration
                                div.nowrap(style="font-style: italic") #{ep.enclosure.$.duration}
                            else
                                div.nowrap(style="font-style: italic") N/A
                        td
                            if ep.pubDate
                                - var d = ep.pubDate.substr(5, 2);
                                - var m = ep.pubDate.substr(8, 3);
                                - var y = ep.pubDate.substr(14, 2);
                                div.nowrap #{d + ' ' + m + ' ' + y}
                            else
                                div.nowrap N/A
                        td
                            div.nowrap
                                if ep.enclosure
                                    button.listenlink.add(class="btn btn-default" data-audio="#{ep.enclosure.$.url}" data-dur="#{ep['itunes:duration']}" data-pid="#{podcast._id}" data-title="#{ep.title}" data-poster="#{podcast.poster100}" type="button")
                                        span.glyphicon.glyphicon-plus-sign(aira-hidden="true")
                                    button.listenlink.play(class="btn btn-default" data-audio="#{ep.enclosure.$.url}" data-dur="#{ep['itunes:duration']}" data-pid="#{podcast._id}" data-title="#{ep.title}" data-poster="#{podcast.poster100}" type="button")
                                        span.glyphicon.glyphicon-play(aira-hidden="true")
                                else
                                    span.glyphicon.glyphicon-alert(aria-hidden="true" title="No audio data.")
