extends layout

block content
    .container
        #safetitle #{id + '/' + safetitle}
        .col-md-7(id="left-col")
            img.podcast-poster(src="#{feed.imgs.i600}")
            h3 #{feed.title}
            if feed['itunes:summary']
                p #{feed['itunes:summary']}
            table#feedinfo-table(class="table table-bordered")
                tbody
                    tr
                        th Author
                        td #{feed['itunes:author']}
                    tr
                        th Genre
                        td #{feed.genre}
        .col-md-7(id="right-col")
            h3 Episodes
            table#episode-table(class="table table-bordered")
                thead
                    tr
                        th Title
                        th Description
                        th Released
                        th 
                tbody
                    each ep in feed.item
                        tr
                            if ep.title
                                td(title="#{ep.title}") 
                                    if ep.title.length >= 30
                                        span #{ep.title.substr(0,26) + '...'}
                                    else
                                        span #{ep.title}
                            else
                                td N/A
                            if ep.description
                                - var match, front = ep.description.match(/^\<([^\>]+)\>/)
                                - if (front) match = ep.description.match('^\<' + front[1] + '\>(.+)\<\/' + front[1] + '\>')
                                - if (match) ep.description = match[1]
                                - ep.description = ep.description.replace(/\<.+\>/g, '')
                                td(title="#{ep.description}")
                                    if ep.description.length >= 64
                                        span #{ep.description.substr(0,60) + '...'}
                                    else
                                        span #{ep.description}
                            else
                                td N/A
                            td
                                if ep.pubDate
                                    span #{ep.pubDate}
                                else
                                    span N/A
                            td
                                if ep.enclosure
                                    a.listenlink(href="javascript:void(0)" data-audio="#{ep.enclosure.$.url}" data-title="#{ep.title}" data-poster="#{feed.imgs.i100}") Listen
                                else
                                    span N/A