//- index.jade - Template for podcast feed pages/views. -//
//- Authors: Ian McGaunn; Dave Zimmelman -//
//- Modified: 09 Mar 15 -//

// Left column with feed data.
script.
    window.safetitle = "#{safetitle}";
.feed-row-top
    h4 #{feed.title}
.feed-col-left
    img.podcast-poster(src="#{podcast.poster600}")
    if user
        if isFavorited(user, podcast._id)
            button.btn.btn-primary.btn-outline.btn-lg#fav(data-id="#{podcast._id}" data-toggle="tooltip" data-placement="right" title="Remove Subscription")
                span.glyphicon.glyphicon-star(aria-hidden="true")
        else
            button.btn.btn-primary.btn-outline.btn-lg#fav(data-id="#{podcast._id}" data-toggle="tooltip" data-placement="right" title="Susbcribe")
                span.glyphicon.glyphicon-star-empty(aria-hidden="true")
    else
        button.btn.btn-primary.btn-outline.btn-lg#fav-fake(data-toggle="tooltip" data-placement="right" title="Sign in to subscribe.")
            span.glyphicon.glyphicon-star-empty(aria-hidden="true")
                
    // Container for audio player.
    //-
        div.podcast-player
            div.playing-title
                span No File Selected
            audio(controls="controls" preload="auto" src="http://xamuel.com/blank-mp3-files/point1sec.mp3")
            script(src="/javascripts/audioplayer.js")
            script.
                $( function() { $( 'audio' ).audioPlayer(); } ); 
    table#feedinfo-table(class="table sleek-gray")
        tbody
            tr
                th Author
                td
                    div.wrap(style="height:54px;line-height:27px;") #{podcast.artistName}
            tr
                th Genre
                td 
                    div.wrap(style="height:54px;line-height:27px;") #{podcast.genre}
// Right column with episode table
//-
    - var formatDate = function (dateString) {
    -   var d = dateString.substr(5, 2);
    -   var m = dateString.substr(8, 3);
    -   var y = dateString.substr(14, 2);
    -   return d + ' ' + m + ' ' + y;
    - }
.feed-col-right
    if feed['itunes:summary']
        span#it-summary #{feed['itunes:summary']}
    else
        span#it-summary No description.
    table#episode-table(class="table")
        colgroup
            col
            col(width="75px;")
            col(width="60px;")
        thead
            tr
                th Title
                th Date
                th 
        tbody
            each ep in feed.item
                - var hasAudio = (ep.enclosure && ep.enclosure.$ && ep.enclosure.$.url);
                if hasAudio
                    tr
                        td(title="#{ep.title}")
                            if ep.title
                                div.wrap(style="height:34px;") #{ep.title}
                            else
                                div.wrap(style="height:34px;") N/A
                        td
                            if ep.pubDate
                                - var d = ep.pubDate.substr(5, 2);
                                - var m = ep.pubDate.substr(8, 3);
                                - var y = ep.pubDate.substr(14, 2);
                                div.nowrap #{d + ' ' + m + ' ' + y}
                            else
                                div.nowrap N/A
                        td
                            div.nowrap
                                if ep.enclosure
                                    button.listenlink.add(class="btn btn-default" data-audio="#{ep.enclosure.$.url}" data-title="#{ep.title}" data-poster="#{podcast.poster100}" type="button")
                                        span.glyphicon.glyphicon-plus-sign(aira-hidden="true")
                                    button.listenlink.play(class="btn btn-default" data-audio="#{ep.enclosure.$.url}" data-title="#{ep.title}" data-poster="#{podcast.poster100}" type="button")
                                        span.glyphicon.glyphicon-play(aira-hidden="true")
                                else
                                    span.glyphicon.glyphicon-alert(aria-hidden="true" title="No audio data.")
